* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'StratosSkyeng', sans-serif;
    background-color: #000000;
}

.header {
    height: 100vh;
    background-image: url(images/11.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__overlay {
    background: #000000;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__title {
    margin: auto;
    font-size: 96px;
    text-align: center;
    color: white;
    max-width: 658px;
    font-weight: 400;
}

.header__link {
    height: 90px;
    width: 100%;
    background: #000000;
    backdrop-filter: blur(11.5px);
}

.header__link:hover {
    opacity: .8;
}

.header__anchor {
    text-decoration: none;
    color: white;
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    
    list-style-type: none;
    margin: 173px auto;
    display: flex;
    max-width: 1060px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
}

.gallery__item {
    max-width: 330px;

}

.image {
    width: 100%;
}

.footer {
    height: 100vh;
    background-image: url(./images/7.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__overlay {
    display: flex;
    height: 100%;
    width: 100%;
    background: #000000;
}

.footer__text {
    margin: auto;
    font-size: 40px;
    color: white;
}